.mcard-view {
  min-height: 100%;
  padding: 0;
  width: 100vw;
}

.component-wrapper-outer {
  position: relative;
}

.component-wrapper-outter .component-wrapper-inner {
  padding: 2rem;
  background-color: #fbfbfb;
}

.component-wrapper-outter .component-wrapper-inner.fit {
  height: 100vh;
  padding: 0;
}

.component-wrapper-outter .component-wrapper-inner:not(.fit) {
  margin: 0 auto;
}

.component-wrapper-landing {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.component-wrapper-landing .guide {
  background-color: #fbfbfb;
  position: absolute;
  width: 100%;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.component-wrapper-landing .guide .host {
  font-size: 2rem;
  margin: 2rem auto 1.5rem;
  letter-spacing: 0.7rem;
}

.component-wrapper-landing .guide .host p {
  display: inline-block;
}

.component-wrapper-landing .guide .host p:first-child {
  padding-left: 0.7rem;
}

.component-wrapper-landing .guide .host .bar {
  margin: 0 1.25rem 0 0.65rem;
}

.component-wrapper-landing .guide .host .bar::before {
  content: "";
  position: absolute;
  background-color: #393939;
  width: 2px;
  height: 2.1rem;
  top: 2.1rem;
}

.component-wrapper-landing .guide .detail-info {
  margin: 0 auto 1rem;
  font-size: 0.9rem;
}

.component-wrapper-landing .guide .detail-info p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.common-header {
  width: 100%;
  padding-bottom: 1.8rem;

  .common-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
  }

  .horizontal-line {
    height: 1px;
    background-color: #797979;
    margin-top: 3px;
  }
}
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.greetings p {
  font-size: 0.9rem;
  text-align: center;
}

.greetings p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.host-introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 0.5rem;
  }
}

.host-introduction-container p .introduction .parent {
  font-weight: 500;
}

.host-introduction-container p .child {
  font-weight: 700;
}

.location-icons-wrapper {
  margin: 1.5rem 0;
}

.location-icons {
  display: flex;
  justify-content: center;
}

.location-icons .location-icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 6rem;
}

.location-icon-wrapper .location-icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 auto 0.5rem;
  cursor: pointer;
}

.location-icon.tmap {
  background-image: url("/imgs/maps/navi_tmap_500x500.png");
}

.location-icon.naver {
  background-image: url("/imgs/maps/navi_naver_500x500.png");
}

.location-icon.kakao {
  background-image: url("/imgs/maps/navi_kakao_500x500.png");
}

.location-icon-wrapper .location-label {
  text-align: center;
  font-size: 0.8rem;
}

.location-trans-wrapper h3 {
  font-size: 0.9rem;
  margin: 1rem 0 0.5rem;
}

.location-trans-wrapper p {
  font-size: 0.8rem;
  margin: 0.1rem 0.3rem;
}

.account-items-wrapper {
  padding: 0 0.5rem;
}

.account-item {
  margin-bottom: 1rem;
}
.account-item-text {
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.account-item-title {
  position: relative;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  background: #f2eeee;
  font-size: 0.9rem;
}

.account-item-text {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.account-item-text-inner .inner-bank::after {
  content: "";
  margin: -1px 8px 0 9px;
  width: 1px;
  height: 12px;
  background: #e5e5e5;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
}

.account-item-text-inner .inner-name {
  margin-top: 0.5rem;
}

.account-item-text-copy button {
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fefefe;
  padding: 0 0.5rem;
}

.account-item-text-copy button .copy-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
  width: 14px;
}

.account-item-text-copy button .copy-label {
  /* font-size: 0.7rem; */
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper .share-kakao {
  font-size: 0.6rem;
  display: flex;
  vertical-align: middle;
}

.footer-wrapper .share-kakao span {
  line-height: 26px;
  text-align: center;
  margin-right: 0.2rem;
}

.footer-wrapper .closing {
  font-size: 0.6rem;
  text-align: end;
}
